
:root {
  --grid-width: 88px;
  --grid-height: 88px;
  --grid-margin: 5px;
}
@media only screen and (max-width: 600px) {
  :root {
    --grid-margin: 4px;
    --grid-height: 63px;
  }
}

  .gridElement {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:28px;
    border-radius: 4px;
    //background-color: #ffc;
    border: 2px solid lavender;
    cursor: pointer;
    margin:var(--grid-margin);
    width:var(--grid-width);
    height: var(--grid-height);
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //transition: all 400ms;
    //transform: scale(1);
    .problem {
      position: relative;
      .bigScore {
        z-index: 1000;
        opacity: 0;
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        display: flex;
        justify-content: center;
        align-items: center;
        color:magenta;
        margin-top: 100px;
        font-family: "Comic Sans MS";
        font-size: 200px;
      }
      .leftExpression {
        border-bottom: 4px solid black;

        .term {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          .placeValue {
            @extend .gridElement
          }

          .operand {
            @extend .gridElement;
            justify-content: flex-end;
            font-size: 45px;
            border: 0px;
          }
        }
        .carryRow {
          @extend .term;
          justify-content: flex-start;
          margin-left: calc(var(--grid-width) + (var(--grid-margin) * 3));

          .carryValue {
            @extend .gridElement;
            border: 2px solid transparent;
            border-bottom: 2px solid lavender;
            border-radius: 0;
          }
        }
      }
      .rightExpression {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .answerPlaceValue {
          @extend .gridElement

        }
        .check {
          @extend .gridElement;
          position: absolute;
          left:-100px;
          font-size: 64px;
          border: 0;
        }
      }
    }
  }

